

*{	
	margin:0px;
	padding:0px;
	font-family:"Times New Roman", Times, serif;
	font-size: 16pt;
	line-height:2;
	color:black;
	box-sizing: boder-box;
}

.container{
	
	weight:100%
	max-width:680px;
	background-color:#4ec089;
}

form#frmLogin{
	background-color:#4ec089;
	padding:20px 50px;
	max-width:500px;
	width:100%;
	margin: auto;
}

#title{
	text-transform: uppercase;
	text-align: center;
}
lable{
	display:block;
	color:green;
	font-weight:bolder;
}

.form-control{
	width:100%;
	margin:4px 0px;
}
.button{
	
	margin:4px 0px;
	padding:2px;
	width:100px;
	background-color:white;
	color:#4ec089;
	border-radius:5px;
}

body{
	display: flex;
	justify-content: center;
	align-items:center;
	min-height:600pt;
	background-color:#39b097;
	
}
